[Unit]
Description=arrowhead-data-manager
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/data_manager
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/data_manager/log4j2.xml -jar /usr/share/arrowhead/data_manager/arrowhead-datamanager.jar 
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
